COMPOSE_FILE=docker-compose.yaml:docker-compose.prod.yaml
PGSQL_NAME=
PGSQL_USER=
PGSQL_SECRET=
PGSQL_HOST=
DJANGO_MEDIA_ROOT=
DJANGO_STATIC_ROOT=
ONE_SIGNAL_APP_ID=
ONE_SIGNAL_TOKEN=
SENTRY_DNS=
INSTALL_REQUIREMENTS=
CREATE_VIRTUALENV=
AZURE_API_ENDPOINT=
AZURE_ACCESS_KEY1=
